<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Impact</title>

    <link rel="stylesheet" href="{{ url_for( 'static' , filename='styles/reset.css' ) }}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='styles/basic.css' ) }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Art Impact</h1>
    </header>

    <div class="art-section">
        <h2>Usuario: {{comentarios[id].get_usuario()}}</h2>
        <p>Data: {{comentarios[id].get_data()}}</p>
        <p>{{comentarios[id].get_mensagem()}}</p>
        {%if comentarios[id].get_lance()%}
        <p>Lance: {{comentarios[id].get_valor_lance()}}</p>
        {%endif%}
    </div>
    
</body>
</html>