<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanchonete</title>

    <!--style sheets--> 
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='basic.css' ) }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo-box">
            <h1>Lanchonete Da</h1>
            <img src="{{ url_for( 'static', filename='imgs/logo.png' ) }}">
        </div>
    </header>

    <div id="back" class="back">
        <h2>Volte para a pagina inicial</h2>
        <a href="{{ url_for( 'home' ) }}">Volte</a>
    </div>

    <div class="menu">
        <!--lanches-->
        <h3>Nossos Lanches!</h3>
        <div class="food">
            <div id="pao-de-queijo">
                <p>Pao de queijo</p>
                <img src="{{ url_for( 'static', filename='imgs/pao-de-queijo.jpeg' ) }}">
                <p class="desc">
                    Nosso autêntico pão de queijo é feito com ingredientes selecionados,
                     garantindo uma crocância por fora e uma maciez irresistível por dentro.
                     Feito com o melhor queijo Minas, ele é perfeito para acompanhar o seu
                     café da manhã ou lanche da tarde. Cada mordida traz o sabor inconfundível
                     do Brasil, com aquele toque caseiro que
                     lembra os momentos especiais em família. Experimente e sinta 
                     o conforto e a tradição em cada pedaço!
                </p>

                    <p class="value"> R$ 2,00 unidade</p>
            </div>
            <div id="joelho">
                <p>Joelho</p>
                <img src="{{ url_for( 'static', filename='imgs/joelho.jpg' ) }}">
                <p class="desc">
                    Nosso joelho de presunto e queijo é o salgado perfeito para qualquer hora do
                     dia. Feito com uma massa macia e levemente dourada, ele é recheado generosame
                     nte com presunto suculento e queijo derretido, proporcionando uma combinação 
                     deliciosa a cada mordida. Este clássico salgado, também conhecido como 
                     "italianinho" em algumas regiões, é assado na perfeição para garantir um equilíbrio
                     ideal entre sabor e textura. Ideal para um lanche rápido ou acompanhado de um café
                     fresquinho, o joelho é um favorito que nunca sai de moda.
                </p>

                <p class="value"> R$ 7,00 unidade</p>
            </div>
            <div id="pastel">
                <p>Pastel</p>
                <img src="{{ url_for( 'static', filename='imgs/pastel.jpeg' ) }}">
                <p class="desc">
                    Nosso pastel crocante é um verdadeiro clássico das feiras e lanchonetes brasileiras.
                     Preparado com uma massa fina e dourada, ele é frito na hora para garantir a crocância
                     perfeita. Recheado com opções que vão do tradicional carne moída, queijo, ou frango 
                     com catupiry, até os mais criativos, como camarão ou queijo com goiabada, cada pastel 
                     é uma explosão de sabor. Perfeito para matar a fome a qualquer hora do dia, acompanhado 
                     de um suco gelado ou aquele refrigerante, nosso pastel é irresistível do primeiro ao 
                     último pedaço.
                </p>

                <p class="value"> R$ 5,50 unidade</p>
            </div>
            <div id="coxinha">
                <p>Coxinha</p>
                <img src="{{ url_for( 'static', filename='imgs/coxinha.jpeg' ) }}">
                <p class="desc">
                    Nossa coxinha tradicional é o salgado perfeito para os amantes de um bom lanche brasileiro. 
                    Feita com uma massa leve e saborosa, é recheada com frango desfiado temperado na medida 
                    certa e um toque de requeijão cremoso, criando um equilíbrio delicioso entre sabor e 
                    textura. Frita até ficar dourada e crocante por fora, cada coxinha é uma verdadeira 
                    tentação, com um interior suculento que derrete na boca. Seja como um lanche rápido, ou para 
                    compartilhar em momentos especiais, a coxinha é sempre uma escolha que agrada a todos.
                </p>

                <p class="value"> R$ 6,00 unidade</p>
            </div>
        </div>
    </div>

    <div id="back" class="back">
        <h2>Volte para a pagina inicial</h2>
        <a href="{{ url_for( 'home' ) }}">Volte</a>
    </div>

    <footer>
        <p>feito por marco antônio</p> 
        <a href="https://github.com/TrickB0y">Visite meu github</a>
    </footer>
    
</body>
</html>