<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanchonete</title>

    <!--style sheets--> 
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for( 'static' , filename='basic.css' ) }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo-box">
            <h1>Lanchonete Da</h1>
            <img src="{{ url_for( 'static', filename='imgs/logo.png' ) }}">
        </div>
    </header>

    <div id="back" class="back">
        <h2>Volte para a pagina inicial</h2>
        <a href="{{ url_for( 'home' ) }}">Volte</a>
    </div>

    <div class="menu">
        <!--lanches-->
        <h3>Nossos Lanches!</h3>
        <div class="food">
            <div id="lanche">
                <p>{{ lanche.get_nome() }}</p>
                <img src="{{ lanche.foto_lanche() }}">
                <p class="desc">
                    {{ lanche.get_descricao() }}
                </p>

                    <p class="value"> R$ {{ lanche.get_preco() }} unidade</p>
            </div>
            
        </div>
    </div>

    <footer>
        <p>feito por marco antônio</p> 
        <a href="https://github.com/TrickB0y">Visite meu github</a>
    </footer>
    
</body>
</html>